<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>

      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <img v-bind:src="image">
          </div>
          <div class="product-info">
            <h1>{{ product }}</h1>
            <p v-if="inStock">In Stock</p>
            <p v-else>Out of Stock</p>

            <h2>Materials</h2>
            <ul>
              <!-- detail is the 'alias' for the element in the collection -->
              <li v-for="detail in details">{{ detail }}</li>
            </ul>

            <h2>Variants</h2>
            <!-- Assigning a key to an element is important when we want to remove, reference a specific element -->
            <!-- Here we use the id of the variant to define the key -->
            <!-- 'variant; is the alias, variants is the collection -->
            <div v-for="variant in variants" :key="variant.id">{{ variant.color }}</div>

            <h2>Sizes</h2>
            <!-- Here we use the index of the collection to define the key -->
            <ul>
              <li v-for="(size, index) in sizes" :key="index">{{ size }}</li>
            </ul>

          </div>
        </div>
      </div>
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>
